body {
  width: 100%;
  background: #dbe1e9 url("../images/run.jpg") no-repeat center top;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
  background-attachment: fixed;
}

header {
  grid-row: 1;
  grid-column: 1 / span 3;
  font-size: 25px;
  color: black;
  text-align: center;
  background-color: rgba(159,158,156, 0.5);
}

#article2 {
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: rgba(184,182,181, 0.9);
  border: 5px double black;
  padding: 20px;
  margin-bottom: 5px;
}

#article1 {
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: rgba(184,182,181, 0.9);
  border: 5px double black;
  padding: 20px;
  margin-bottom: 5px;
}

footer {
  grid-row: 5;
}