/* @import url('https://fonts.googleapis.com/css?family=Lato'); */
body {
  position: relative;
  /* background-color: #365577; */
}

* {
  margin: 0px;
  padding: 0px;
}

nav {
  padding-top: 5px;
  position: fixed;
}

ul, li {
  display: inline-block;
}

#profile, section {
  padding-top: 75px;
}

header, section { 
  width: 100vw;
  height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 75%;
  text-align: center;
  color: #99a1b4;
  margin: 0px;
  /* padding: 3px; */
}