/* @import url('https://fonts.googleapis.com/css?family=Lato'); */
body {
  position: relative;
}

* {
  margin: 0px;
  padding: 0px;
}

header, section { 
  width: 100vw;
  height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 75%;
  text-align: center;
  color: #99a1b4;
  padding: 3px;
}